h2{
    text-align: center;
    font-size: 30px;
    line-height: 1;
 }

 #abt{
    background-color: var(--sle-green);
    color: aliceblue;
    height : 700px;
    line-height : 50px;
    font-weight: 800;
 } 

 strong{
   background-color: white;
   font-weight: 900;
   opacity: 0.9;
 }

 article{
   height : 50%;
 }

 #where{
    text-align: center;
    font-size: 20px;
 }

 #why{
    text-align: center;
    font-size: 20px;
    line-height : 30px;
 }

 #mid {
    text-align: center;
    font-size: 25px;
 }

 #div {
    column-count: 2;
 }

 #foot h2 {
    text-align: left;
 }

 #selected {
    color: black;
 }