
:root {
    --sle-bg: #bdbdbd;
    --sle-bg-light: #efefef;
    --sle-bg-dark: #8d8d8d;
    
    --sle-text: #424242;
    --sle-text-light: #6d6d6d;
    --sle-text-dark: #1b1b1b;

    --sle-green: #4CAF50;
    --sle-green-light: #80E27E;
    --sle-green-dark: #087F23;

    --sle-headline: 28px;
    --sle-title: 22px;
    --sle-subtitle: 19px;
    --sle-body: 16px;
}

h1 {
    font-size: var(--sle-headline);
    padding: 20px 0;
}

h2 {
    font-size: var(--sle-title);
    padding: 15px 0;
}

h3 {
    font-size: var(--sle-subtitle);
}

a:hover {
  color: var(--sle-text-dark);  
}

html, body {
    height: 100%;
}

body {
    color: var(--sle-text);
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--sle-body);
    line-height:1.5rem;
}

body > main {
    display: flex;
    flex: 1 1 auto;
}

body > main > aside {
    padding: 0 3rem;
}

body > main > section {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 3rem;
}

body > main > section > article {
    flex: 1 1 auto;
}

footer {
    display: flex;
    justify-content: center;
}