
:root {
    --sle-bg: #fafafa;
    --sle-bg-light: #ffffff;
    --sle-bg-dark: #c7c7c7;
    
    --sle-text: #424242;
    --sle-text-light: #6d6d6d;
    --sle-text-dark: #1b1b1b;

    --sle-green: #4aac40;
    --sle-green-light: #7edf6f;
    --sle-green-dark: #127F04;

    --sle-headline: 28px;
    --sle-title: 22px;
    --sle-subtitle: 19px;
    --sle-body: 16px;
}

h1 {
    font-size: var(--sle-headline);
    padding: 30px 0;
}

h2 {
    font-size: var(--sle-title);
    padding: 15px 0;
}

h3 {
    font-size: var(--sle-subtitle);
    padding: 5px 0;
}

a {
    text-decoration: none;
    color: var(--sle-text);
}

a:hover {
  color: var(--sle-text);  
}

strong {
    color: var(--sle-green-dark);
    font-weight: bold;
}

html, body {
    width: 100%;
}

body {
    background-color: var(--sle-bg-light);
    color: var(--sle-text);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: var(--sle-body);
    line-height: 1.5rem;
}