#banner {
   background-color: var(--sle-green);
   padding: 20vh 5vw;
}

#banner li {
   color: white;
   font-size: 42px;
   font-weight: bold;
   padding: 20px;
}



 .item{
    
     width:300px;
     height:300px;  
 }
 .container{
    padding-left: 100px;
 }
 

 h2{
    align-content: center;
 }
 .gcategory{
    display: grid; 
    grid-template-columns: repeat(2,100px,400px);
    grid-template-rows:repeat(1,100px);
    grid-gap:10px;
    
    justify-content: left;
    align-items:left;
 }
 .rows{
    display: grid; 
    grid-template-columns: repeat(1,20px);
    grid-template-rows:repeat(2,20px);
    grid-gap:10px;
    background-color: blue;
    justify-content: center;
    align-items:center;
 }
 .gitem{

    justify-content: center;
    align-items:center;
 }
 