.p22-1{ 
    display: grid; 
    grid-template-columns: repeat(4,320px);
    grid-template-rows:repeat(3,320px);
    grid-gap:30px;
    
    justify-content: center;
    align-items:center;
 }
 .p21-2{
    display: grid; 
    grid-template-columns: repeat(4,320px);
    grid-template-rows:repeat(2,320px);
    grid-gap:30px;
    
    justify-content: center;
    align-items:center;
 }
 .image{
    width:300px;
    height:255px;
    border-radius:30px;
    border: solid 1px black;
    text-align: center;
}
.letters{
    text-align:center;
    font-size: var(--sle-body-large);
    text-align: center;
    font-weight: bold;
}
h2{
    align-content: center;
 }
 