a {
    color: black;
}

a:hover {
    color: white;
}

header {
    align-items: center;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

nav {
    width: 40vw;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-weight: bold;
}

.sle_logo {
    padding-top: 5px;
    display: flex;
}

.sle_logo img {
    margin-right: 10px;
}

nav #selected {
    color: var(--sle-green);
}