
 .container{ 
   padding:50px;
   display: grid; 
   grid-template-columns: repeat(3,320px);
   grid-template-rows:repeat(2,320px);
   grid-gap:30px;
   justify-content: center;
   align-items:center;
}
 .item{
     width:300px;
     height:300px;  
     background-color:rgb(196, 192, 192);
     border-radius: 20px;
 }
 .image{
     width:300px;
     height:255px;
     border-radius:20px;
     border: solid 1px black;
     text-align: center;
     
 }
 .letters{
      padding-left: 10px;
     
     font-size: var(--sle-body-large);
     text-align: center;    
 }
