.container{ 
    display: grid; 
    grid-template-columns: repeat(2,320px);
    grid-template-rows:repeat(3,320px);
    grid-gap:30px;
    justify-content: center;
    align-items:center;
 }
 .item{
     width:300px;
     height:300px;  
 }
 .image{
     width:250px;
     height:250px;
     border-radius:30px;
     border: solid 1px black;
 }
 .pletters{
     text-align:center;
     font-size: var(--sle-body-large);
     text-align: center;
 }
 .pname{
     text-align:left;
 }
 .ptitle{
    font-size: var(--sle-headline);
 }
 .pintro{
    font-size: var(--sle-headline-small);
 }