.outside{
   width:1440px;
   height:1930px;
   background-color: var(--sle-bg-light);
   padding-top:80px;
   padding-left: 145px;
}
.each{
 padding-left:80px;
 padding-bottom: 100px;
 width:1050px;
 height:1700px;
 background-color: white;
 border-radius: 30px;
}

/*
width 1360
height 1870
*/

 .container{ 
   padding-top:50px;
   display: grid; 
   grid-template-columns: repeat(5,300px);
   grid-template-rows:repeat(1,255px);
   grid-gap:30px;
}



 .item{
     width:300px;
     height:255px;  
     background-color:rgb(196, 192, 192);
     border-radius: 20px;
 }

 .image{
     width:300px;
     height:255px;
     border-radius:20px;
     border: solid 1px black;     
 }

 .letters{
     font-size: var(--sle-body-large);
     text-align: center;
 }

 .information{
    padding-top: 40px;
 }

 .contributor{
    padding-top:50px;
 }

 .developer{
   padding-top:10px;
 }

 .program{
    padding-top:30px;
 }

 .description{
    padding-top:30px;
 }

 .normal{
 }

 b{
    font-size:20px;
 }

.title{
    font-size:40px;
    font-weight: bolder;
}

.developtime{
   padding-top: 20px;
}

.actualtime{

}
.github{
   padding-top:40px;
   width:70x;
   height:70px;
}
.reviewtitle{
   padding-top: 40px;
   font-size: 28px;
}
.review{
   padding-top:50px;
   display: grid; 
   grid-template-columns: repeat(1,1000px);
   grid-template-rows:repeat(3,240px);
   grid-gap:20px;
   padding-top: 50px;
}
.reviewitem{
   width:950px;
   height:240px;  
   background-color:rgb(196, 192, 192);
   border-radius: 20px;
}
.reviewimage{
   width:240px;
   height:240px;
   background-color: rgb(220,220,230);
   align-items: left;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
}
.actualreiew{
   align-items: center;
}



