main h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5vh;
}

main > section:nth-child(n+2) {
    padding: 10vh 5vw;
}

main > section:nth-child(even) {
    background-color: var(--sle-bg-extra-light);
}

main > section:nth-child(n+2) li {
    font-size: 1.2rem;
}

#banner {
    background-color: var(--sle-green);
    padding: 20vh 5vw;
}

#banner li {
    color: white;
    font-size: 42px;
    font-weight: bold;
    padding: 20px;
}

.title {
    color: var(--sle-green);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10vh;
    text-align: center;
}

.qualification article {
    width: 50vw;
}

.qualification li {
    margin-bottom: 10vh;
}

.process {
    display: flex;
    justify-content: space-between;
}

.process li {
    background-color: var(--sle-bg-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    width: 10vw;
    height: 15vh;
}

.process .arrow {
    background-color: transparent;
    font-size: 1.5rem;
}

.process .pass {
    background-color: transparent;
    border: 1px solid var(--sle-green);
    color: var(--sle-green-dark);
}

.plan > div {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.plan .progress-bar {
    position: relative;
    width: 100%;
}

.plan .bar {
    background-color: var(--sle-bg-dark);
    border-radius: 5px;
    height: 15px;
}

.plan .points {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -50%;
    width: 100%;
}

.plan .points div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--sle-green);
}

.plan .contents {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.plan .contents li {
    width: 20%;
}

.contents li:first-child {
    text-align: start;
}

.contents li:last-child {
    text-align: right;
}

.apply-btn {
    background-color: var(--sle-green);
    border: 1px solid var(--sle-green);
    border-radius: 15px;
    color: white;
    padding: 20px 30px;
    width: 20vw;
}

.apply-btn:hover {
    cursor: pointer;
}

.recruitment .info h2 {
    text-align: center;
}

.recruitment .info > div {
    display: flex;
    justify-content: center;
}

.recruitment .info > div a {
    padding: 1.5rem
}